<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @* Theme for BootStrap (load default if not using a theme) *@
    @Styles.Render(Helpers.GetBootstrapThemeCss("cerulean"))

    @* Stylesheets *@
    @*@if (User.IsInRole(RoleType.Admin) || User.IsInRole(RoleType.Super))
        {
            @Styles.Render("~/bundles/fileupload/jqueryui/css")
        }*@
    @Styles.Render(Links.Bundles.Styles.all_css)
    @Scripts.Render(Links.Bundles.Scripts.modernizr)

    <meta name="description" content="@ViewBag.Meta" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @* Scripts *@
    @Scripts.Render(Links.Bundles.Scripts.all)
    @*@if (User.IsInRole(RoleType.Admin) || User.IsInRole(RoleType.Super))
        {
            @Scripts.Render("~/bundles/fileupload/jqueryui/js")
        }*@
    @Html.RenderScripts()
    @RenderSection("scripts", required: false)
</body>
</html>
