@{
    ViewBag.Title = "Alerts";
}

<h1>Alerts</h1>

<hr />

<p>Alerts provide feedback messages to the user.</p>

<h3>Examples</h3>

<p>Standard Alerts</p>

@Html.Bootstrap().Alert("Default Alert!")
@Html.Bootstrap().Alert("Success Alert!", AlertStyle.Success)
@Html.Bootstrap().Alert("Info Alert!").Style(AlertStyle.Info)
@Html.Bootstrap().Alert("Warning Alert!").Style(AlertStyle.Warning)
@Html.Bootstrap().Alert("Danger Alert!").Style(AlertStyle.Danger)

<p>Dismissible Alerts</p>

@Html.Bootstrap().Alert("Success! You did it!!!").Style(AlertStyle.Success).Dismissible()
@Html.Bootstrap().Alert("Danger!!! Something went wrong...").Style(AlertStyle.Danger).Dismissible()

<p>Alerts with Icon</p>

@Html.Bootstrap().Alert("Something went wrong!").Style(AlertStyle.Danger).Icon(FontAwesomeIconType.ExclamationCircle)
@Html.Bootstrap().Alert("Good Job!").Style(AlertStyle.Success).Icon(FontAwesomeIconType.CheckSquare)

<p>Using Links in Alerts</p>

@using(var alert = Html.Bootstrap().BeginAlert(new Alert().Style(AlertStyle.Success)))
{
    <strong>YO!</strong> @:this is an un-styled link: @Html.Bootstrap().ActionLink("back here", MVC.Home.Alerts())
}

@using (var alert = Html.Bootstrap().BeginAlert(AlertStyle.Info))
{
    <strong>YO!</strong> @:this is an alert-styled link: @alert.ActionLink("back here", MVC.Home.Alerts())
}
