@{
    ViewBag.Title = "Buttons and Links";
}

<h1>Buttons and Links</h1>

<hr />

<h3>Buttons</h3>

<h5>Options</h5>

@Html.Bootstrap().Button("Default")
@Html.Bootstrap().Button("Primary").Style(ButtonStyle.Primary)
@Html.Bootstrap().Button("Success").Style(ButtonStyle.Success)
@Html.Bootstrap().Button("Info").Style(ButtonStyle.Info)
@Html.Bootstrap().Button("Warning").Style(ButtonStyle.Warning)
@Html.Bootstrap().Button("Danger").Style(ButtonStyle.Danger)

<h5>Sizes</h5>

@Html.Bootstrap().Button("Large").Size(ButtonSize.Large).Style(ButtonStyle.Primary)
@Html.Bootstrap().Button("Large").Size(ButtonSize.Large)
<br />
@Html.Bootstrap().Button("Default").Size(ButtonSize.Default).Style(ButtonStyle.Primary)
@Html.Bootstrap().Button("Default").Size(ButtonSize.Default)
<br />
@Html.Bootstrap().Button("Small").Size(ButtonSize.Small).Style(ButtonStyle.Primary)
@Html.Bootstrap().Button("Small").Size(ButtonSize.Small)
<br />
@Html.Bootstrap().Button("Extra-Small").Size(ButtonSize.ExtraSmall).Style(ButtonStyle.Primary)
@Html.Bootstrap().Button("Extra-Small").Size(ButtonSize.ExtraSmall)

<h5>Active (Pressed)</h5>

@Html.Bootstrap().Button("Primary").Style(ButtonStyle.Primary)
@Html.Bootstrap().Button("Primary (Active)").Style(ButtonStyle.Primary).Active()

<h5>Disabled</h5>

@Html.Bootstrap().Button("Primary").Style(ButtonStyle.Primary)
@Html.Bootstrap().Button("Primary (Disabled)").Style(ButtonStyle.Primary).Disabled()

<h5>Block</h5>

@using (var well = Html.Bootstrap().BeginWell(new Well().Class("center-block").Style("max-width", "300px;")))
{
    @Html.Bootstrap().Button("Block level Button").Style(ButtonStyle.Primary).ButtonBlock()
    @Html.Bootstrap().Button("Another Block Button").ButtonBlock()
}

<h5>Buttons with Icons</h5>

@Html.Bootstrap().Button("Append CheckSquare Icon").AppendIcon(FontAwesomeIconType.CheckSquare)
@Html.Bootstrap().Button("Prepend Dollar Icon").PrependIcon(FontAwesomeIconType.Dollar)
@Html.Bootstrap().Button("Append and Prepend Icons").PrependIcon(FontAwesomeIconType.Envelope).AppendIcon(FontAwesomeIconType.Flag)

<h5>Button Tooltips</h5>

@Html.Bootstrap().Button("With Tooltip").Tooltip("Tooltip text goes here...")

<h5>Split Button</h5>

@using (var group = Html.Bootstrap().BeginButtonGroup(new ButtonGroup().Style(ButtonStyle.Primary).Size(ButtonSize.Small)))
{
    @group.Button("Button 1")
    using (var dd = group.BeginSplitDropDown(""))
    {
        @dd.ActionLink("Link 1", MVC.Home.ButtonsAndLinks())
        @dd.ActionLink("Link 2", MVC.Home.ButtonsAndLinks())
    }
}

<h5>Button Groups</h5>

@using (var group = Html.Bootstrap().BeginButtonGroup())
{
    @group.Button("Button 1")
    @group.Button("Button 2")
    @group.Button("Button 3")
    @group.Button("Button 4")
}
<br/>
<br/>
@using (var group = Html.Bootstrap().BeginButtonGroup(new ButtonGroup().Vertical()))
{
    @group.Button("Vertical Button 1")
    @group.Button("Vertical Button 2")
    @group.Button("Vertical Button 3")
    @group.Button("Vertical Button 4")
}
<br />
<br />
@using (var group = Html.Bootstrap().BeginButtonGroup(new ButtonGroup()))
{
    @group.Button().AppendIcon(FontAwesomeIconType.AlignLeft).Disabled()
    @group.Button().AppendIcon(FontAwesomeIconType.AlignCenter)
    @group.Button().AppendIcon(FontAwesomeIconType.AlignRight)
    @group.Button().AppendIcon(FontAwesomeIconType.AlignJustify)
}
<br />
<br />
<div style="width:400px;">
    @using (var group = Html.Bootstrap().BeginButtonGroup(new ButtonGroup().Justified()))
    {
        @group.ActionLinkButton("LinkButton 1", MVC.Home.ButtonsAndLinks())
        @group.ActionLinkButton("LinkButton 2", MVC.Home.ButtonsAndLinks())
        @group.ActionLinkButton("LinkButton 3", MVC.Home.ButtonsAndLinks())
        @group.ActionLinkButton("LinkButton 4", MVC.Home.ButtonsAndLinks())
    }
</div>
<br />
<br />
<div style="width:400px;">
    @using (var group = Html.Bootstrap().BeginButtonGroup(new ButtonGroup().Justified()))
    {
        @group.Button("Button 1")
        @group.Button("Button 2")
        @group.Button("Button 3")
        @group.Button("Button 4")
    }
</div>

<h5>Nesting</h5>

@using (var group = Html.Bootstrap().BeginButtonGroup(new ButtonGroup()))
{
    @group.Button("A")
    @group.Button("B")
    using (var dd = group.BeginDropDown("C"))
    {
        @dd.ActionLink("C1", MVC.Home.ButtonsAndLinks())
        @dd.ActionLink("C2", MVC.Home.ButtonsAndLinks())
        @dd.ActionLink("C3", MVC.Home.ButtonsAndLinks())
        @dd.ActionLink("C4", MVC.Home.ButtonsAndLinks())
    }
    @group.Button("D")
}

<h5>Button Toolbar</h5>

@using (var toolbar = Html.Bootstrap().BeginButtonToolbar(new ButtonToolbar().Size(ButtonSize.ExtraSmall)))
{
    using (var group = toolbar.BeginButtonGroup(new ButtonGroup()))
    {
        @group.Button("1")
        @group.Button("2")
        @group.Button("3")
        @group.Button("4")
    }
    using (var group = toolbar.BeginButtonGroup(new ButtonGroup()))
    {
        @group.Button("A")
        @group.Button("B")
        using (var dd = group.BeginDropDown(new DropDown("C")))
        {
            @dd.ActionLink("C1", MVC.Home.ButtonsAndLinks())
            @dd.ActionLink("C2", MVC.Home.ButtonsAndLinks())
            @dd.ActionLink("C3", MVC.Home.ButtonsAndLinks())
            @dd.ActionLink("C4", MVC.Home.ButtonsAndLinks())
        }
        @group.Button("D")
    }
}


<h3>Links</h3>

@Html.Bootstrap().Link("Default Link", "#")
<br />
@Html.Bootstrap().LinkButton("LinkButton", "#")
@Html.Bootstrap().LinkButton("LinkButton (Primary)", "#").Style(ButtonStyle.Primary)
@Html.Bootstrap().LinkButton("LinkButton (Large)", "#").Size(ButtonSize.Large)
@Html.Bootstrap().LinkButton("LinkButton (Disabled)", "#").Style(ButtonStyle.Primary).Disabled()

<h3>Action Links</h3>

@Html.Bootstrap().ActionLink("ActionLink (ActionResult)", MVC.Home.ButtonsAndLinks())
<br />
@Html.Bootstrap().ActionLink("ActionLink (ActionName)", "ButtonsAndLinks")
<br />
@Html.Bootstrap().ActionLink("ActionLink (ActionName, ControllerName)", "ButtonsAndLinks", "Home")
<br />
@Html.Bootstrap().ActionLink("ActionLink async (ActionResult)", MVC.Home.ButtonsAndLinksAsync())
<br />
@Html.Bootstrap().ActionLink("ActionLink with Badge", MVC.Home.ButtonsAndLinks()).Badge("13")

<h3>ActionLinkButton</h3>

@Html.Bootstrap().ActionLinkButton("ActionLinkButton 1", MVC.Home.ButtonsAndLinks())
@Html.Bootstrap().ActionLinkButton("ActionLinkButton 2 with Badge", MVC.Home.ButtonsAndLinks()).Badge("24")